{% extends 'base.html.twig' %}

{% block title %}Hi MEP! Sorry For The Ugliness!{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('main') }}
{% endblock %}

{% block body %}
    <button id="magicButton" class="button"> 
        Click To See Magic
    </button>

    <h1>Our Amazing Users</h1>
    <ul class="users-list">
        {% for user in users %}
            <li class="tile">
                <p>{{user.username}}</p>
                <p>{{user.email}}</p>
                <p>{{user.website}}</p>
                <a class="button user" href="{{ path('user_page',{'id': user.id}) }}">User Page</a>
            </li>
        {% endfor %}

    </ul>

    <a class="button" href="{{ path('posts') }}" target="_blank">Post Page</a>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('main') }}
{% endblock %}
